* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
}

form {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 420px;
    padding: 25px;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(6px);
    border-radius: 8px;

}


label {
    display: block;
    margin-top: 12px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}


input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    margin-top: 6px;
    border: 1px solid #555;
    color: #fff;
    background-color: transparent;

}

input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}


button {
    width: 95%;
    padding: 12px;
    margin-top: 18px;
    background-color: #D3D3D3;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}



button:hover {
    background: #A9A9A9;
    color: #000;

}


.mensagem {
    color: white;
    position: absolute;
    top: 70%;
    transform: translate(-50%, -50%);
    left: 50%;
}