body {
    background-image: url("./assets/image/imagem.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: "Courier New", monospace;
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


form {

    width: 420px;
    padding: 25px;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(6px);
    border-radius: 8px;

}


label {
    display: block;
    margin-top: 12px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}


input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    margin-top: 6px;
    background: transparent;
    border: 1px solid #555;
    color: #fff;
}


button {
    width: 95%;
    padding: 12px;
    margin-top: 18px;
    background-color: #D3D3D3;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}



button:hover {
    background: #A9A9A9;
    color: #000;

}

